<%= simple_form_for(@contest) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :contest_name %>
    <%= f.input :user_id %>
    <%= f.input :contest_description %>
    <%= f.input :contest_type %>
    <%= f.input :contest_prize_image %>
    <%= f.input :contest_start_date %>
    <%= f.input :contest_end_date %>
    <%= f.input :contest_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
