<% provide(:title, 'Create contest') %>
<h1>Create contest</h1>

<div class="row">
  <div class="span8 offset4">
  	<% @contest = Contest.new  %>
    <%= form_for(@contest) do |f| %>
        <% @contest.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>
     <p>  
      <%= f.label "Contest Name" %>
      <%= f.text_field :name %>
    </p>

      <%= f.label "Contest Description" %>
      <%= f.text_field :description %>

      <%= f.label "Determine your hashtag" %> 
      #<%= f.text_field :tweet_string, :placeholder=> "Please use a unique hashtag!" %> 

      <%= f.label :start_date %>
      <%= datetime_select("contest", "start_date", :hour => true, :ampm => true, :date_seperator => '/', :length => 3, :size => 5, :default => Time.now.midnight) %>
     

      <%= f.label :end_date %>
      <%= datetime_select("contest", "end_date", :hour => true, :ampm => true, :default => Time.now.midnight + 5.days) %>
      

      <%= f.label "Prize Image" %>
      <%= f.file_field :image %>
  </div>
</div>
<div class="row">
  <div class="span4 offset4">
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>