<h3>Contest</h3>

<p>
  <%= image_tag @contest.image.url(:normal) %>
</p>

<p>
  Name: <%= @contest.name %><br>
  Description: <%= @contest.description %><br>
  What to Tweet: <%= @contest.tweet_string %> <br> 

  <!-- to_date removes the time from the datetime -->
  Start date: <%= @contest.start_date.to_datetime.readable_inspect() %><br>
  End date: <%= @contest.end_date.to_datetime.readable_inspect() %>
</p>